<template>
  <div class="about container">
    <div class="row">
      <router-link class="back mt-3" to="/">
        <img class="back__img img" src="@/assets/Arrow.svg" alt="Вернуться к списку авто">
        Вернуться к списку авто
      </router-link>
      <BigCar :Cars="allcars.cars[$route.params.id-1]" />
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import BigCar from '@/components/BigCar'
export default {
  name: 'Car',
  data () {
    return {
      Cars: []
    }
  },
  components: {
    BigCar
  },
  computed: mapGetters(['allcars']),
  async mounted () {
    await this.$store.dispatch('showcars')
  }
}
</script>

<style>
.back, .back:hover{
  color: var(--black);
  font-weight: 900;
  font-size: 20px;
  font-family: var(--ff-main);
  text-decoration: none;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
.back__img{
  margin-right: 14px;
}
.car_name{
  color: var(--black);
  font-family: var(--ff-main);
  font-weight: 900;
  font-size: 30px;
}
</style>
