<template>
  <div class="home container">
    <div class="row">
      <h1 class="title mt-3">{{allcars.title}}</h1>
      <SmallCar :Cars="allcars"/>
    </div>
  </div>
</template>

<script>
import SmallCar from '@/components/SmallCar.vue'
import { mapGetters } from 'vuex'
export default {
  name: 'Home',
  components: {
    SmallCar
  },
  data () {
    return {
      Cars: []
    }
  },
  computed: mapGetters(['allcars']),
  async mounted () {
    await this.$store.dispatch('showcars')
  }
}

</script>

<style>
.title{
  font-family: var(--ff-main);
  font-weight: 900;
  font-size: 30px;
  color: var(--black);
  margin-bottom: 70px;
}
</style>
