<template>
      <div class="container mt-4">
        <div class="row">
          <div class="car_name name">{{Cars.name}} ({{Cars.year}})</div>
          <div class="container">
              <div class="row">
                  <div class="col-6">
                      <img class="col-12 car_image" :src="Cars.image" :alt="Cars.name + '('+Cars.year+')'">
                  </div>
                  <div class="col-6 container">
                      <div class="row">
                          <div class="col-12 title_card">Стоимость аренды</div>
                          <div class="col-12 priceday">За сутки <span>{{Cars.price}} ₽</span></div>
                          <div class="col-12 priceday">За весь период ({{sutki}} суток) <span>{{Cars.price * sutki}} ₽</span></div>
                          <div class="col-12 computesumm">
                              <input class="computesumm__input" v-model="sutki" type="text">
                              <span class="computesumm__span">суток</span>
                              <button class="computesumm__button" v-on:click="sendBron">Забронировать</button>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
        </div>
      </div>
</template>

<script>
export default {
  name: 'BigCar',
  methods: {
    sendBron: function () {
      const data = { id: this.Cars.id, days: this.sutki }
      console.log(data)
    }
  },
  props: ['Cars'],
  data () {
    return {
      sutki: 5
    }
  }
}
</script>

<style>
.car_name{
  color: var(--black);
  font-family: var(--ff-main);
  font-weight: 900;
  font-size: 30px;
}
.car_image{
  width: 460px;
}
.title_card{
  color: var(--black);
  font-family: var(--ff-main);
  font-weight: 900;
  font-size: 20px;
  margin-bottom: 20px;
}
.priceday{
  display: flex;
  flex-flow: ro nowrap;
  justify-content: space-between;
  color: var(--black);
  font-family: var(--ff-main);
  font-weight: 500;
  font-size: 14px;
  margin-bottom: 10px;
}
.computesumm{
  color: var(--black);
  font-family: var(--ff-main);
  font-weight: 500;
  font-size: 16px;
  align-items: center;
  margin-top: 12px;
}
.computesumm__input{
  height: 42px;
  width: 67px;
  padding-left: 26px;
  border-radius: 3px;
  border: 1px solid #BEBEBE;
}
.computesumm__span{
  margin-left: 9px;
  margin-right: 21px;
}
.computesumm__button{
  background-color: var(--yellow);
  border:none;
  padding:  10px 30px  10px 30px;
  height: 42px;
  outline: none;
  border-radius: 3px;
}
</style>
