<template>
  <div class="smallcar container">
    <div class="row">
        <div class="cars col-3 mb-4" v-for="car in Cars.cars" :key="car.id">
            <router-link class=" cars__card carcard card_car" :to="'/car/'+car.id">
                <img class="card__img img car_img" :src="car.image" :alt="car.name">
                <div class="card__name name car_name">{{car.name}}
                    <span class="name__year year car_year">({{car.year}})</span>
                </div>
                <div class="card__price price car_price">
                    <span class="price__oldprice oldprice " v-if="car.price != car.old_price">{{car.old_price}}</span>
                    {{car.price}} ₽/сутки
                </div>
            </router-link>
        </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'SmallCar',
  props: ['Cars']
}

</script>

<style>
.title{
  font-family: var(--ff-main);
  font-weight: 900;
  font-size: 30px;
  color: var(--black);
  margin-bottom: 70px;
}
.carcard, .carcard:hover{
  text-decoration: none;
  color: var(--black) !important;
}
.car_img{
  width: 263px;
  border-radius: 6px;
  filter: url(/img/icons/fon.svg);
}
.car_name{
  font-family: var(--ff-main);
  font-weight: 500;
  font-size: 22px;
  color: var(--black);
}
.car_price{
  font-family: var(--ff-main);
  font-weight: 900;
  font-size: 16px;
  color: var(--black);
}
.oldprice{
  font-family: var(--ff-main);
  text-decoration-line: line-through;
  font-size: 14px;
  font-weight: 500;
}
</style>
