<template>
  <div id="app">
   <router-view></router-view>
  </div>
</template>

<style>
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;900&display=swap');
:root {
  --black: #000000;
  --gray-light: #E1E1E1;
  --gary: #999999;
  --white: #FFFFFF;
  --yellow: #FED01F;
  --green: #45B11E;
  --ff-main: 'Roboto', sans-serif;
}
</style>
